.modal {
  position: absolute;
  width: auto;
  top: 10%;
  left: 15px;
  width: calc(100% - 30px);
  pointer-events: none;
  visibility: hidden;
  transition: all 0.3s ease-out;
  transform: translate(0, -50px);
  opacity: 0;
  z-index: 1051;
}

.modal.open {
  transform: none;
  opacity: 1;
  visibility: visible;
}

.modal__content {
  position: relative;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  box-shadow: 0 0 10px 10px rgba(50, 50, 50, 0.11);
  border-radius: 0.3rem;
  outline: 0;
}

.modal__header {
  padding: 1rem 1rem;
}

.close {
  position: absolute;
  right: 0.5rem;
  top: 0.2rem;
  opacity: 0.5;
  overflow: visible;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  background-color: transparent;
  border: 0;
  appearance: none;
  outline: none;
  cursor: pointer;
}

.modal__body {
  position: relative;
  margin-top: 1rem;
  padding: 0 1rem 1rem;
}

.modal__footer {
  padding: 0.75rem;
}

@media (min-width: 576px) {
  .modal {
    max-width: 600px;
    left: calc(50% - 300px);
  }
}
